<%- include('header'); -%>

<div class="box" id="heading">
            <h1><%= kindofday %></h1>
        </div>
        
        <div class="box">
            <%for(var i=0;i<listarray.length; i++){ %>
                <div class="item">
                    <input type="checkbox" >
                    <p><%=listarray[i]%></p>
                </div>
            <%   }  %>
        
            
            <form class="item" action="/" method="post">
                <input type="text" name="sample" placeholder="ADD NEW TASK" autocomplete="off">
                <button type="submit">+</button>
            </form>
        </div>

<%- include('footer'); -%>