<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <% if(kindofday===0 || kindofday === 60){ %>
        <h1><%= kindofday %> means nowork baby </h1>
        <% } else{ %>
    
        <h1 style="color:red" ><%= kindofday %> yrr </h1>
        <% } %>
</body>
</html>